.container {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 300px;
  padding: 0px;

}

.form-section {
  background-color: #c4c4c4;
  padding: 40px;
  display: flex;
  justify-content: left;
  z-index: 1;

}

.form {
  width: 500px;
  
}

.submit-button {
  background-color: #dd91b9;
  color: rgb(0, 0, 0);
  padding: 10px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-size: 16px;
  width: 100px;
  text-align: center;
  margin-top: 20px;
}

.right-section {
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-45%);
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  z-index: 2;
}

.info-box {
  display: flex;
  flex-direction: column
}

.info-item {
  margin-bottom: 15px;
}

.pink-section {
  background-color: #dd91b9;
  color: white;
  padding: 40px;
  margin-top: 0px;
  width: 100%;
  z-index: 0;
  text-align: left;
  height:400px;
}

.get-in-touch {
  margin-bottom: 10px;
  font-size: 40px;
  font-weight: bold;
}

.sub-text {
  font-size: 26px;
  margin-bottom: 20px;
}

.lorem-text {
  font-size: 12px;
  margin-bottom: 40px;
}

.social-icons {
  display: flex;
  gap: 15px;
}

.icon {
  display: inline-block;
  width: 40px;
  height: 40px;
}

.icon img {
  width: 100%;
  height: 100%;
  border-radius: 60%;
}
.textwidth{
  height: 100px;
}
h1{
  padding-bottom: 10px;
  padding-left: 5px;
}
.resume-container {
  text-align: center;
  padding-top: 100px;
}
.resume-download-btn {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  text-decoration: none;
  font-size: 18px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.resume-download-btn:hover {
  background-color: #4845a0;
  transform: scale(1.05);
}
.about-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 3rem;
  background: linear-gradient(140deg, black, gray);
}

.about-section {
  flex: 1;
  padding-left: 2rem;
  transition: background-color 0.3s ease;
}
.about-section:hover
{
  transform: scale(1.05);
}
.self-photo {
  flex: 1;
  display: flex;
  justify-content: center;
}

.photo {
  max-width: 100%;
  height: 250px;
  padding-top: 0px;
  border-radius: 10px;
}
img{
  transition: background-color 0.3s ease;
}
img:hover{
  transform: scale(1.05);
}

.about-text {
  max-width: 700px;
  margin: 0;
  padding: 1.5rem;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  text-align: center;
  background: linear-gradient(140deg, black, gray);
  color: white
}

.heading {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

.paragraph {
  font-size: 1.2rem;
  line-height: 1.6;
  font-family: 'Open Sans', sans-serif;
}

.highlight {
  color: #7bff57;
  font-weight: bold;
}
.Titile{
  padding-bottom:20px
}